<!--
<h4>Categories</h4>
<section>
    {{ range .Site.Taxonomies.categories }}
        <a href="{{ .Page.Permalink }}" class="badge badge-primary">#{{ .Page.Title }} <span class="badge badge-light">{{ .Count }}</span></a>
    {{ end }}
</section>
<hr/>
-->

<h4>Series</h4>
<section>
  {{ range .Site.Taxonomies.series }}
    <div><a href="{{ .Page.Permalink }}">{{ .Page.Title }} <span class="badge badge-light">{{ .Count }}</span></a></div>
  {{ end }}
</section>
<hr/>

<h4>Tags</h4>
<section>
  {{ range .Site.Taxonomies.tags }}
    <a href="{{ .Page.Permalink }}" class="badge badge-success">#{{ .Page.Title }} <span class="badge badge-light">{{ .Count }}</span></a>
  {{ end }}
</section>
<hr/>
